body{background-color: #F7EFE5;}
hr{border-style: none;;
   border-top-style: dotted;
   border-width: 10px;
   border-color: gray;
   width: 5%;
   }
   h1{color: red;}
   h3{color:#B05A7A;}
